/* variables */

/* colors */
$app-bg-text-color: #282c34;
$header-text-color: #d2cfcf;
$button-border-line-color: #62dafb;
$button-bg-hover-color: #38c7ef;
$del-button-border-color: #ff0b04;
$del-button-bg-color: #efefef;
$del-button-hover-color: #d2cfcf;
$todo-item-color: #cfd026;
$tick-bg-color: #ffffff;

/* other */
$main-border-radius: 2px;

/* media */
$mobile-tablet-width: 1100px;
